/HAS.class
/light.class
/AirConditioner.class
/WashingMachine.class
/Television.class
/HAS_factory.class
/HAS_main.class
/lightTest.class
/lightOffTest.class
/AirConditionerOnTest.class
/tvChannelChange.class
/AllTests.class
